*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
    width: 100%;
    position: absolute;
}


/* awal header */

.menu-toggle{
    margin-top: 16px;
    display: none;
}

header{
    height: 100vh;
    width: 100%;
    background-image: url(img/bakmi.jpg);
    background-size: cover;
    background-position: center;
}

nav{
    display: flex;
    height: 50px;
    justify-content: space-around;
    background-color: rgb(184, 100, 100);
    opacity: 0.6;
}

nav h1{
    font-family: 'Lobster', cursive;
    line-height: 50px;
}

nav ul{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    font-size: 0.8em;
    color: white;
}

nav a:hover{
    color: rgb(184, 100, 100);
    background-color: white;
}

.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero h1{
    margin-top:140px;
    font-family: 'Lobster', cursive;
    font-size: 3.5em;
    color: white;
}

.hero p{
    margin-top: 10px;
    font-weight: bold;
    color: white;
}

.hero .atas{
    margin-top: 50px;
}

.hero a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    background-color: rgb(184, 100, 100);
    padding: 10px;
    border-radius: 10px;
}

.hero .bawah{
    margin-top: 10px;
}

.hero a:hover{
    transform: scale(1, 1.3);
    background-color: white;
    color: rgb(184, 100, 100);
    transition: all 0.5s;
}

/* akhir header */

/* awal main */
.main{
    background-color:rgb(184, 100, 100) ;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main h1{
    margin-top:100px;
    margin-bottom: 50px;
}

.main h1,p{
    font-weight: bold;
    padding: 20px;
    color: rgb(32, 32, 32);
}
/* akhir main */



/* awal menu */
.menu{
   height: 100vh;
   background-image: url(img/bg2.jpg);
   background-size: cover;
   background-position: center;
   text-align: center;
}
.card{
    width: 220px;
    height: 250px;
    background-color: white;
    border-radius: 10px;
}

.card img{
    width: 90%;
    height:180px ;
}

.menu .katalog{
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    gap: 10px;
    justify-items: center;
}
/* akhir menu */

/* awal order */

.order .tandaterkirim{
    width: 80%;
    text-align: center;
    background-color: green;
    margin: auto;
    height: 80px;
    line-height: 40px;
}

.order .muncul{
    display: none;
}
.order {
    height: 100vh;
    background-color:rgb(184, 100, 100);

}

#form{
  padding: 50px;
  background-color: white;
  width: 50vw;
  margin: auto;
  margin-top: 50px;
  opacity: 0.6;
  border-radius: 10px;
}
#name,#pesan,#kirim{
  display: block;
  padding: 8px 0 8px 8px;
  width: 100%;
  margin-bottom: 30px;
}

#form h1{
    margin-bottom: 50px;
    text-align: center;
}

#order h1{
    text-align: center;
    padding-top: 5px;
}

.btn-kirim {
    width: 100%;
    padding: 5px;
    background-color: blue;
    cursor: pointer;
  }

  .btn-loading{
    width: 100%;
    padding: 5px;
    background-color: green;
    cursor: pointer;
  }

  .hilang{
      display: none;
  }
/* akhir order */

/* awal location */
.location{
    display: flex;
    height: 100vh;
    background-color:rgb(184, 100, 100);
    text-align: center;
    margin-top: -1px;
}

.loc{
    flex: 1;
}

.loc,.contact{
    margin-top: 100px;
}

.contact{
    flex: 1.5;
}

.contact h1,.loc h1{
    margin-bottom: 10px;
}
/* akhir location */

/* footer */
footer p{
    text-align: center;
}
/* akhir footer */
/* media query */
@media (max-width: 273px){
    header{
        background-size: 100vh 100%;
    }
    
} 

@media (max-width : 634px){
    #navbar{
        display: none;
    }

    .hero h1{
        font-size: 2.3em;
    }

    .hero p{
        font-size: 1.2em;
        text-align: center;
    }

    .main h1{
        font-size: 2em;
        text-align: center;
    }
    .main p{
        font-size: 1.3em;
    }

    .menu .katalog{
        grid-template-columns:1fr 1fr;
        margin-top: 20px;
        gap: 40px;
    }

    .menu h1{
        font-size: 2.3em;
    }

    .menu{
        height: 1000px;
    }

    #form{
        width: 80vw;
    }

    nav ul{
        position: absolute;
        right: 0;
        top: 0;
        height: 100vh;
        flex-direction: column;
        background-color: black;
        justify-content: space-evenly;
        align-items: center;
        width: 70%;
        transform: translateX(100%);
    }

    nav ul.slide{
        transform: translateX(0);
    }
    /* hamburger menu */

.menu-toggle{
    display: flex;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
}

.menu-toggle input{
    position: absolute;
    height: 40px;
    width: 28px;
    opacity: 0;
    top: -10px;
    left: -3px;
    cursor: pointer;
}


.menu-toggle span{
    width: 28px;
    height: 3px;
    display: block;
    background-color: white;
    border-radius: 3px;
    transition: all 1s;
}

/* hamburger menu animation */

.menu-toggle span:nth-child(2){
    transform-origin: 0 0;

}
.menu-toggle span:nth-child(4){
    transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2){
    background-color: white;
    transform: rotate(45deg)translate(-1px, -1px) ;
}
.menu-toggle input:checked ~ span:nth-child(4){
    background-color: white;
    transform: rotate(-45deg)translate(-1px, 0);
}
.menu-toggle input:checked ~ span:nth-child(3){
    opacity: 0;
    transform: scale(0);
}
    
}

@media (max-width : 550px){
    .location{
        display: grid;
        grid-template-columns:1fr;
    }
}
@media (max-width : 480px){
    .menu .katalog{
        grid-template-columns:1fr;
        margin-top: 40px;
        gap: 40px;
    }
    .menu h1{
        font-size: 2em;
    }

    .menu .card{
        width: 95vw;
        height: 400px;
    }

    .menu .card img{
        height: 340px;
    }

    .menu{
        height: 2400px;
    }
}
@media (max-width : 416px){
    .hero h1{
        font-size: 2em;
    }
}

@media (max-width : 362px){
    .hero h1{
        font-size: 1.5em;
    }

    .main h1{
        margin-top: 10px;
        margin-bottom: 10px;
    }
}